<div class="block-left">УСЛОВИЯ ДОСТАВКИ</div>
<div class="block-right">
    <ul class="wbl-ul-block" id="delivery-info-message">
        {{#cashlessOnly}}<li>Для <b>оформления</b> заказа вам необходимо оплатить полную стоимость товаров.{{/cashlessOnly}}
        <br>Доставка курьерской компанией {{company}} бесплатная при покупке на сумму более {{threshold}} рублей, иначе стоимость доставки – {{price}} рублей.
        <br>Ориентировочная дата доставки - {{date}}.
        <br>Обращаем ваше внимание, что примерка и частичный отказ при онлайн-предоплате невозможны.
        <br>Доставка осуществляется 6 дней в неделю, кроме воскресенья, c 9 до 18 часов по договоренности с курьером.
    </li>
    </ul>
</div>