<div class="block-left">УСЛОВИЯ ДОСТАВКИ</div>
<div class="block-right">
    <ul class="wbl-ul-block" id="delivery-info-message">
        <li>Доставка в ПВЗ курьерской компании {{company}} бесплатная при покупке на сумму более {{threshold}} рублей,
            иначе стоимость доставки – {{price}} рублей.
            <br>
            Обращаем ваше внимание, что примерка и частичный отказ при онлайн-предоплате невозможны.
            <br>
            Ближайшая дата доставки: {{date}}
            <br>
            При выборе пункта выдачи заказа, пожалуйста, обращайте внимание на возможность примерки и оплаты картой.
            <br>
            <b>Когда заказ поступит в пункт самовывоза, вам придет SMS.
                Получение заказа возможно только после получения SMS-уведомления о готовности вашего заказа.</b>
        </li>
    </ul>
</div>