<div class="wbl-block-second">

    <div class="cart-layer">
        <div class="header">lady &amp; gentlemen CITY</div>
        <div class="cart-num">{{number}}</div>
        <div class="cart-type">У ВАС: <span class="golden">{{STATUS}} КАРТА {{BNS_AVAILABLE}} </span>
        </div>
        <div class="range-result">
            <div class="text">Использовать баллов:</div>
            <div class="input-layer">
                <input type="number" class="wbl-range-input" value="0" name="wbl-bonus-points-vis">
            </div>
        </div>
        <div class="wbl-range-wrapper">
            <input id="wbl-range" name="RANGE"/>
            <div
                    style="display: flex; flex-direction: row; justify-content: space-between; margin: 0 -25px;">
                <small>Баллов</small>
                <small>Баллов</small>
            </div>
        </div>
    </div>

</div>