.wbl-modal-pickup {
  .mobile-header {
    display: none;
    @media (max-width: 992px){
      display: block;
      height: 48px;
      background: #F0F4FC;
      font-size: 15px;
      line-height: 48px;
      text-align: center;
    }
    [data-modal-back]
    {
      display: inline-block;
      width: 10px;
      height: 16px;
      position: absolute;
      left: 10px;
      top: 15px;
      -webkit-mask: url(/local/templates/ladyandgentleman/img/pvz-back.svg) no-repeat 50% 50%;
      mask: url(/local/templates/ladyandgentleman/img/pvz-back.svg) no-repeat 50% 50%;
      background-color: #262626;
    }
    [data-modal-close]
    {
      display: inline-block;
      width: 10px;
      height: 16px;
      position: absolute;
      left: 10px;
      top: 15px;
      -webkit-mask-size: cover;
      mask-size: cover;
      -webkit-mask: url(/local/templates/ladyandgentleman/img/pvz-back.svg) no-repeat 50% 50%;
      mask: url(/local/templates/ladyandgentleman/img/pvz-back.svg) no-repeat 50% 50%;
      background-color: #262626;
    }
    [data-mobile-config]
    {
      display: inline-block;
      width: 20px;
      height: 15px;
      position: absolute;
      right: 15px;
      top: 17px;
      -webkit-mask-size: cover;
      mask-size: cover;
      -webkit-mask: url(/local/templates/ladyandgentleman/img/pvz-config.svg) no-repeat 50% 50%;
      mask: url(/local/templates/ladyandgentleman/img/pvz-config.svg) no-repeat 50% 50%;
      background-color: #262626;
    }
  }
  .after-mobile-head{
    display: none;
    border: 1px solid #00000024;
    border-radius: 6px;
    @media screen and (max-width: 992px) {
      background: #FFFFFF;
      padding: 9px 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      &.show{
        display: block;
      }
      &.hide{
        display: none;
      }
    }
  }
  .mobile-map-filter{
    @extend  .after-mobile-head;
    transform-origin: top;
    animation: filter-show 300ms ease-in-out forwards;
    a {
      display: inline-block;
      width: 100%;
      height: 30px;
      background: #fff;
      text-align: center;
      line-height: 30px;
      margin-left: 16px;
      &:first-child {
        border: 1px solid #262626;
        border-radius: 6px;
      }
      &:last-child {
        border: 1px solid #262626;
        border-radius: 6px;
      }
      &.active{
        color: #fff;
        background: #262626;

        path,
        rect{
          stroke: white;
        }
      }
      svg {
        margin-right: 10px;
      }
    }
  }

  .mobile-filter-close{
    @extend .mobile-map-filter;
    transform-origin: top;
    animation: filter-hide 300ms ease-in-out forwards;
  }

  .switch-mode {
    @extend  .after-mobile-head;
    [data-switch-mode] {
      display: inline-block;
      width: 100%;
      height: 30px;
      border-top: 1px solid #262626;
      border-bottom: 1px solid #262626;
      background: #fff;
      text-align: center;
      line-height: 30px;
      color: #262626;
      background: #fff;
      &:first-child{
        border-left: 1px solid #262626;
        border-radius: 6px 0 0 6px;
        -webkit-border-radius: 6px 0 0 6px;
        -moz-border-radius: 6px 0 0 6px;
      }
      &:last-child{
        border-right: 1px solid #262626;
        border-radius: 0 6px 6px 0px;
        -webkit-border-radius: 0 6px 6px 0px;
        -moz-border-radius: 0 6px 6px 0px;
      }
      svg {
        margin-right: 10px;
      }
      path {
        stroke: #262626; fill: #262626;
      }
      &.active {
        color: #fff;
        background: #262626;
        path {
          stroke: #fff;
          fill: #fff;
        }
      }
    }
  }
}
@keyframes filter-show {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes filter-hide {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

